body {
	background-color: black;
	font-family: Arial;
	color: black;
}

h1 {
	color: grey;
	font-family: Verdana;
}

.maindiv {
	background-color: white;
	width: 500px;
	padding: 20px;
	border-radius: 25px;
	margin: auto;
}

.fielddiv {
	margin: auto;
	width: 300px;
	padding-bottom: 15px;
}

.redBorder {
	border: 2px solid red;
}


